@import "variables.scss";
@import "general.scss";

body {
	height: 100vh;
}

#login {
	background: url(../img/fullscreen_bg_image.jpg) no-repeat center top / cover;
	height: 100vh;
	padding-top: 180px;

	.form {
		display: table;
		background-color: $color-primary;
		border-radius: 4px;
		box-shadow: 0px 4px 16px 0px rgba(58, 75, 93, 0.27);
		width: 503px;
		padding: 50px 50px 37px;
		margin: 0 auto;
	}

	.form__header {
		text-align: center;
		font-weight: 400;
		color: $text-primary;
		border-bottom: 1px solid $line-primary;
		padding-bottom: 32px;
		margin-bottom: 52px;
	}

	.form__group {
		position: relative;
		margin-bottom: 45px;

		.form__group__input {
			font-size: 16px;
			color: $text-primary;
			padding: 10px 10px 10px 0;
			display: block;
			width: 100%;
			border: none;
			border-bottom: 1px solid $line-primary;

			&:focus {
				outline: none;
			}

			&:focus ~ .form__group__label,
			&:valid ~ .form__group__label {
				top: -13px;
				font-size: 12px;
				text-transform: uppercase;
  				color: $text-tertiary;
			}

			&[type="email"]:active:invalid ~ .form__group__label {
				top: -13px;
				font-size: 12px;
				text-transform: uppercase;
  				color: $text-tertiary;
			}

			&:focus ~ .form__group__bar::before,
			&:focus ~ .form__group__bar::after {
  				width: 50%;
			}
		}

		.form__group__label {
			position: absolute;
			color: $text-tertiary;
			font-size: 16px;
			font-weight: normal;
			pointer-events: none;
			left: 0;
			top: 10px;
			transition: 0.2s ease all;
		}

		.form__group__bar {
			position: relative;
			display: block;
			width: 100%;

			&::before,
			&::after {
				content: '';
				position: absolute;
				height: 2px;
				width: 0;
				bottom: 0;
				background: $brand-primary;
				transition: 0.2s ease all;
			}

			&::before {
				left: 50%;
			}

			&::after {
				right: 50%;
			}
		}

		&--last {
			margin-bottom: 30px;
		}
	}

	.form__agreement {
		text-align: center;
		font-size: 14px;
		color: $text-secondary;
		margin-bottom: 30px;

		a {
			color: $brand-primary;
		}
	}

	.form__btn {
		font-family: $font-base;
		font-size: 14px;
		text-transform: uppercase;
		border-radius: 3px;
		border-style: none;
		color: $color-primary;
		background-color: $brand-primary;
		cursor: pointer;
		width: 100%;
		height: 45px;
	}
}