@import "variables.scss";
@import "general.scss";

.header {
	position: relative;
	background-color: transparent;
	max-width: 1180px;
	padding: 16px 19px 15px;
	margin: 0 auto;

	.header__btn-logout {
		float: right;
		background-color: transparent;
		font-size: 12px;
		color: $brand-primary;
		text-transform: uppercase;
		margin-top: -16px;
	}

	.header-info__avatar {
		position: initial;
		background: url(/dist/img/profile_image.jpg) no-repeat 67% 0;
		box-shadow: 0px 1px 24px 0px rgba(189, 196, 201, 0.7);
		width: 127px;
		height: 127px;
		overflow: hidden;
		clear: both;
		margin: 33px auto 0;
	}

	.header__cover-upload {
		position: relative;
		display: none;
		border: 1px solid $line-primary;
		border-radius: 3px;
		cursor: pointer;
		text-align: center;
		padding: 2px 18px 2px 17px;
		margin: 55px auto 0;
		overflow: hidden;

		.header__cover-upload__label {
			@include flex-centered;
			justify-content: center;
			font-size: 15px;
			color: #727e88;

			i {
				font-size: 28px;
				color: $line-primary;
				margin-right: 20px;
			}
		}

		.header__cover-upload__input {
			position: absolute;
			right: 0;
			bottom: 0;
			outline: none;
			cursor: pointer;
			height: 100px;
		}
	}

	.header-info {
		margin-top: 14px;

		.header-info__summary {

			.header-info__summary__title {
				font-size: 20px;
				color: $text-gray;
				text-align: center;
				margin-bottom: 6px;
			}

			.header-info__summary__contact {
				li {
					position: relative;
					font-size: 13px;
					color: $text-gray;
					margin-bottom: 0;

					div {
						@include flex-centered;

						i {
							font-size: 22px;
							color: $text-secondary;
						}

						&:first-child {
							i {
								margin-right: 13px;
							}
						}

						&:last-child {
							i {
								margin-right: 10px;
							}
						}
					}

					a {
						color: $text-gray;
					}
				}
			}
		}

		.header-info__rating {
			li {
				display: inline-block;
				margin-right: 4px;

				i {
					font-size: 24px;
					color: $brand-primary;
				}

				&:last-of-type {
					display: block;
					font-size: 13px;
					color: $text-gray;
					margin-right: 0;

					span {
						font-size: 14px;
						color: $text-gray;
						margin: 0 16px 0 0;
					}
				}
			}
		}
	}

	.header__followers {
		margin-top: 15px;
		@include flex-centered;

		i, div {
			display: inline-block;
		}

		i {
			font-size: 28px;
			color: $text-tertiary;
		}

		div {
			font-size: 13px;
			color: $text-tertiary;

			span {
				font-size: 14px;
				color: $text-gray;
				margin: 0 4px 0 14px;
			}
		}
	}
}

@media screen and (min-width: 890px) {
	.header {
		background-color: $color-primary;
		padding: 22px 22px 10px;

		.header__btn-logout {
			border: 1px solid $brand-primary;
			border-radius: 3px;
			padding: 7px 21px 6px;
			margin-top: 0;
		}

		.header-info__avatar {
			position: absolute;
			left: 22px;
			bottom: -37px;
			width: 171px;
			height: 171px;
			clear: none;
			margin: 0;
		}

		.header__cover-upload {
			display: table;
		}

		.header-info {
			padding-left: 200px;
			margin-top: 22px;

			.header-info__summary {
				display: inline-block;

				.header-info__summary__title {
					text-align: left;
				}

				.header-info__summary__contact {
					li {
						font-size: 14px;
					}
				}
			}

			.header-info__rating {
				float: right;
				@include flex-centered;

				li {
					margin-right: 7px;

					i {
						color: $gray;
					}

					&:last-of-type {
						display: inline-block;

						span {
							margin: 0 16px 0 24px;
						}
					}
				}
			}
		}

		.header__followers {
			position: absolute;
			right: 22px;
			bottom: -49px;
			margin-top: 0;
		}
	}
}